@model HomeViewModel

<!-- HERO START -->
<section class="hero" id="hero">
    <div class="container">
        <div class="hero__content">
            <h1 class="hero__content__title">
                GET PAGE DONE
            </h1>
            <h4 class="hero__content__info">
                It take efforts
            </h4>
            <p class="hero__content__info2">
                Lorem ipsum dolor sit ametLorem ipsum dolor sit amet
            </p>
            <button class="hero__content__btn">DOWNLOAD THIS THEME NOW!</button>
        </div>
    </div>
</section>
<!-- HERO END -->
<!-- SERVICES START -->
<section class="services" id="services" style="background-image: url(assets/image/bg/sativa.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="services__content__left">
                    <h2 class="services__content__left__title">
                        OUR SERVICES :
                    </h2>
                    <h4 class="services__content__left__info">
                        Lorem ipsum dolor sit amet
                    </h4>
                    <p class="services__content__left__info2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="services__content__right">
                    <h4 class="services__content__right__info">
                        Lorem ipsum dolor sit amet
                    </h4>
                    <p class="services__content__right__info2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>
            </div>

            @foreach (var service in Model.Services)
            {
                <div class="col-lg-4 mb-3">
                    <div class="services__card">
                        <div class="services__card__icon">
                            <i class="@service.Icon"></i>
                        </div>
                        <h2 class="services__card__title">
                            @service.Title
                        </h2>
                        <h6 class="services__card__info text-center">
                            @service.Info
                        </h6>
                        <h6 class="services__card__info2 text-center">
                            @service.Info2
                        </h6>
                    </div>
                </div>
            }

            <div class="col-lg-12 mt-5 ">
                <div class="services__content__bottom">
                    <h4 class="services__content__bottom__info">
                        Lorem ipsum dolor sit amet
                    </h4>
                    <p class="services__content__bottom__info2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SERVICES END -->
<!-- FEATURE START -->
<section class="feature" id="feature">
    <div class="container">
        <div class="row">
            <div class="feature__content">
                <div class="col-lg-6 ">
                    <div class="feature__content__left  ">
                        <h2 class="feature__content__left__title">
                            Featured In Wall Street
                        </h2>
                        <p class="feature__content__left__info">
                            and many other magzines..
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="feature__content__right ">
                        <div class="feature__content__right">
                            <h2 class="feature__content__right__title">
                                300+
                            </h2>
                            <p class="feature__content__right__info">
                                Reports
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="feature2" id="feature2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h3 class="feature2__content">
                    5000+
                </h3>
                <h4 class="feature2__content__info">
                    Projects
                </h4>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="feature2__content">
                    205+
                </h3>
                <h4 class="feature2__content__info">
                    Countries
                </h4>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="feature2__content">
                    1300+
                </h3>
                <h4 class="feature2__content__info">
                    Offices
                </h4>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="feature2__content">
                    2400+
                </h3>
                <h4 class="feature2__content__info">
                    Clients
                </h4>
            </div>
        </div>
    </div>
</section>
<!-- FEATURE END -->
<!-- CONTACT START -->
<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact__content__left">
                    <h2 class="contact__content__left__title">
                        CONTACT US :
                    </h2>
                    <h4 class="contact__content__left__info">
                        Lorem ipsum dolor sit amet
                    </h4>
                    <p class="contact__content__left__info2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>

                    <form class="d-flex flex-column">
                        <div class="form2 d-flex m-auto flex-wrap ">
                            <div class="form-group ">
                                <input type="text" class="form-control form " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                        </div>
                    </form>
                    <button type="submit" class="btn btn-form">Submit Request</button>
                </div>


            </div>
            <div class="col-lg-6">
                <div class="contact__content__right">
                    <h4 class="contact__content__right__info">
                        Lorem ipsum dolor sit amet
                    </h4>
                    <p class="contact__content__right__info2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                    <p class="contact__content__right__address">
                        <b>Address</b>: 123,Your locality , Counrty Name, Pin-20100090.

                    </p>
                    <p class="contact__content__right__email">
                        <b>Email</b>: info@yourdomain.com
                    </p>
                    <p class="contact__content__right__web">
                        <b> Web</b>: www.yourdomain.com
                    </p>
                    <p class="contact__content__right__mobile">
                        <b>Mobile</b>: +00-909-808-707-00
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CONTACT END -->