.feature{
    background-color: $green;
    padding: 30px 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    &__content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        &__left{
            text-align: center;
            &__title{
                font-size: 60px;
                color: #fff;
                text-transform: capitalize;
                font-family: $Open;
                font-weight: 600;
                margin-bottom: 20px;
            }

            &__info{
                font-size: 25px;
                color: #fff;
                text-transform: lowercase;
                font-family: $Open;
                font-weight: 600;

            }
        }

        &__right{
            text-align: center;
            &__title{
                font-size: 60px;
                color: #fff;
                text-transform: capitalize;
                font-family: $Open;
                font-weight: 600;
            }

            &__info{
                font-size: 25px;
                color: #fff;
                text-transform: lowercase;
                font-family: $Open;
                font-weight: 600;

            }
        }
    }
}